name: Build test

permissions:
  contents: read
  packages: write

on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-fdk-parser-service:
    name: Build when pull request is created
    if: ${{ github.actor != 'dependabot[bot]' &&  github.event.pull_request.draft == false }}
    uses: Informasjonsforvaltning/workflows/.github/workflows/build-push.yaml@main
    with:
      app_name: fdk-parser-service
      environment: test
      java_version: '21'
      coverage_file_path: ./target/site/jacoco/jacoco.xml
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}